.AboutMe-headline {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    h1 {
        font-size: 30px;
    }
}

.aboutMe {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(240, 240, 240);
    justify-content: space-evenly;
    margin-top: 50px;
    img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 100%;
        padding: 50px;
    }
}

.AboutMe-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 80px;
    p {
        line-height: 20px;
    }
}

// Responsive
@media (max-width: 850px) {
    .AboutMe-text {
        padding-left: 0px;
        padding-right: 50px;
    }
}

@media (max-width: 750px) {
    .aboutMe {
        flex-direction: column;
    }
    .AboutMe-text {
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .AboutMe-text {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
    }
}

@media (max-width: 350px) {
    .aboutMe {
        img {
            padding: 40px;
        }
    }
}