<div>
    <div class="AboutMe-headline">
        <h1>About me</h1>
    </div>
    <div class="aboutMe">
        <div class="AboutMe-picture">
            <img src="assets/img/user.png">
        </div>
        <div class="AboutMe-text">
            <div>
                <h3>About me.</h3>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eaque explicabo perferendis quasi. Aliquam vitae eum corporis. Repellat, itaque ducimus eaque deleniti assumenda nisi exercitationem quas? Nemo fugit quisquam iste!</p>
        </div>
    </div>
</div>