.AboutMe-headline {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    h1 {
        font-size: 30px;
    }
}

.aboutMe {
    display: flex;
    align-items: center;
    height: 350px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    justify-content: space-around;
    margin-bottom: 30px;
    img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.AboutMe-text {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}