<div id="about-me">
    <div class="AboutMe-headline">
        <h1>About me</h1>
    </div>
    <div class="aboutMe">
        <div class="AboutMe-picture">
            <img src="assets/img/user.png">
        </div>
        <div class="AboutMe-text">
            <div>
                <h3>My Story</h3>
            </div>

            <p>My journey in the it world began by researching how to build websites on the internet. So I wrote my first lines of HTML and CSS code. Since I liked the way it worked, I wanted to get more into it. Then I found out about a young company that
                offered a course as a front-end developer. There I was able to deepen my knowledge and also got to know the programming language JavaScript and the framework Angular with which I was able to build some projects. With this knowledge, I
                now want to embark on a new career path as a front-end developer.</p>
        </div>
    </div>
</div>