.fotter {
    background-color: rgb(240, 240, 240);
}

.fotter-text {
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
        color: black;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.fotter-links {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
}

.fotter-icons {
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.m-r {
    margin-right: 30px;
}

// Responsive
@media (max-width: 450px) {
    .fotter-links {
        padding-left: 20px;
    }
    .fotter-icons {
        padding-right: 20px;
    }
}