<div class="fotter">
    <div class="fotter-text">
        <div class="d-flex">
            <a style="margin-left: 30px;" routerLink="/impressum">Impressum</a>
            <a routerLink="/Privacy">Privacy</a>
        </div>
        <div class="fotter-icons">
            <a href="https://github.com/Florian-Appel"><img src="assets/img/github.png" alt="" style="margin-right: 30px;"></a>
            <a href="https://www.linkedin.com/in/florian-appel-4223021a1"><img src="assets/img/linkedin-logo.png" alt=""></a>
        </div>
    </div>
</div>