<div class="projects" id="portfolio">
    <div class="projects-header">
        <h1>My Work</h1>
    </div>
    <div class="projekt-box">

        <div class="container">
            <img src="assets/img/crm.jpg" alt="Avatar" class="image">
            <div class="middle">
                <button class="text">to project</button>
            </div>
        </div>
        <div class="projekt-info">
            <h1>Simple CRM System</h1>
            <p>Hier ein einfaches Customer-Relationship-Management System. Dort kann man User und Aufgaben anlegen & bearbeiten. Dieses Angular projekt ist mit der Google Firebase Datenbank verknüpft</p>
            <div class="project-buttons">
                <button class="button-23-2 b-1" role="button">Code</button>
                <button class="button-23 b-2" role="button">Project</button>
            </div>
        </div>
    </div>
    <div class="projekt-box c-reverse">
        <div class="projekt-info">
            <h1>Join</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolor illo magnam excepturi exercitationem sequi corporis placeat maxime inventore facere! Pariatur dicta nobis harum expedita optio tempore sit officiis ratione.</p>
            <div class="project-buttons">
                <button class="button-23-2 b-1" role="button">Code</button>
                <button class="button-23 b-2" role="button">Project</button>
            </div>
        </div>
        <div class="container">
            <img src="assets/img/join.jpg" alt="Avatar" class="image">
            <div class="middle">
                <button class="text">to project</button>
            </div>
        </div>
    </div>
    <div class="projekt-box">
        <div class="container">
            <img src="assets/img/quiz1.jpg" alt="Avatar" class="image">
            <div class="middle">
                <button class="text">to project</button>
            </div>
        </div>
        <div class="projekt-info">
            <h1>Quiz-App</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolor illo magnam excepturi exercitationem sequi corporis placeat maxime inventore facere! Pariatur dicta nobis harum expedita optio tempore sit officiis ratione.</p>
            <div class="project-buttons">
                <button class="button-23-2 b-1" role="button">Code</button>
                <button class="button-23 b-2" role="button">Project</button>
            </div>

        </div>
    </div>
</div>