<div class="projects" id="portfolio">
    <div class="projects-header">
        <h1>My Work</h1>
    </div>
    <div class="projekt-box">

        <div class="container">
            <img src="assets/img/crm.jpg" alt="Avatar" class="image">
            <div class="middle">
                <button onclick="window.location.href='https://florian-appel.developerakademie.net/simple-crm/';" class="text">to project</button>
            </div>
        </div>
        <div class="projekt-info">
            <h1>Simple CRM System</h1>
            <p>Here is a simple customer relationship management system. There you can create and edit users and tasks. This Angular project is linked to the Google Firebase database.</p>
            <div class="project-buttons">
                <button onclick="window.location.href='https://github.com/Florian-Appel/simple-crm.git';" class="button-23-2 b-1" role="button">Code</button>
                <button onclick="window.location.href='https://florian-appel.developerakademie.net/simple-crm/';" class="button-23 b-2" role="button">Project</button>
            </div>
        </div>
    </div>
    <div class="projekt-box c-reverse">
        <div class="projekt-info">
            <h1>Join</h1>
            <p>This is a Kanban system with which you can manage projects. Selected users are assigned tasks and these can be divided into different phases of the current progress.</p>
            <div class="project-buttons">
                <button onclick="window.location.href='https://github.com/Florian-Appel/Join.git';" class="button-23-2 b-1" role="button">Code</button>
                <button onclick="window.location.href='https://florian-appel.developerakademie.net/Join/addTask.html';" class="button-23 b-2" role="button">Project</button>
            </div>
        </div>
        <div class="container">
            <img src="assets/img/join.jpg" alt="Avatar" class="image">
            <div class="middle">
                <button onclick="window.location.href='https://florian-appel.developerakademie.net/Join/addTask.html';" class="text">to project</button>
            </div>
        </div>
    </div>
    <div class="projekt-box">
        <div class="container">
            <img src="assets/img/quiz1.jpg" alt="Avatar" class="image">
            <div class="middle">
                <button onclick="window.location.href='https://florian-appel.developerakademie.net/Quiz-App/index.html';" class="text">to project</button>
            </div>
        </div>
        <div class="projekt-info">
            <h1>Quiz-App</h1>
            <p>A simple quiz app. This was created with Javascript.</p>
            <div class="project-buttons">
                <button onclick="window.location.href='https://github.com/Florian-Appel/Quiz-App.git';" class="button-23-2 b-1" role="button">Code</button>
                <button onclick="window.location.href='https://florian-appel.developerakademie.net/Quiz-App/index.html';" class="button-23 b-2" role="button">Project</button>
            </div>

        </div>
    </div>
</div>