<div class="projects" id="portfolio">
    <div class="projects-header">
        <h1>My Work</h1>
    </div>
    <div class="projekt-box">
        <div>
            <img src="/assets/img/crm-picture.png">
            <!-- Bild vom Projekt -->
        </div>
        <div class="projekt-info">
            <h1>Simple CRM System</h1>
            <p>Hier ein einfaches Customer-Relationship-Management System. Dort kann man User und Aufgaben anlegen & bearbeiten. Dieses Angular projekt ist mit der Google Firebase Datenbank verknüpft</p>
            <button>Zum Projekt</button>
        </div>
    </div>
    <div class="projekt-box">

        <div class="projekt-info">
            <h1>Join</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolor illo magnam excepturi exercitationem sequi corporis placeat maxime inventore facere! Pariatur dicta nobis harum expedita optio tempore sit officiis ratione.</p>
            <button>Zum Projekt</button>
        </div>
        <div class="projekt-picture">
            <img src="/assets/img/board-help.png">
            <!-- Bild vom Projekt -->
        </div>
    </div>
    <div class="projekt-box">
        <div>
            <img src="/assets/img/quiz-app-picture.png">
            <!-- Bild vom Projekt -->
        </div>
        <div class="projekt-info">
            <h1>Quiz-App</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolor illo magnam excepturi exercitationem sequi corporis placeat maxime inventore facere! Pariatur dicta nobis harum expedita optio tempore sit officiis ratione.</p>
            <button>Zum Projekt</button>
        </div>
    </div>
</div>