<div class="contact" id="contact">
    <div class="contact-content">
        <div class="contact-header">
            <h1>Contact me.</h1>
            <p>Get in touch via the form bolow, or by emailing <a href="#">florian.appel@proton.me</a></p>
        </div>

        <div class="contact-field">
            <span>Name</span>
            <input required type="text" placeholder="Enter your name">
            <span>Email adress</span>
            <input required type="email" placeholder="Enter your Email adress">
            <span>Message</span>
            <textarea required placeholder="Enter your message" cols="20" rows="7"></textarea>
        </div>

        <div>
            <button class="send-button">
                <span>Send</span> <!--Funtioniert nicht, warum?-->
              </button>
        </div>
    </div>
</div>