<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="contact" id="contact">
    <div class="contact-content">
        <div class="contact-header">
            <h1>Contact me.</h1>
            <p>Get in touch via the form below, or by emailing <a href="mailto: florian.appel@proton.me">florian.appel@proton.me</a></p>
        </div>

        <div class="contact-field">
            <label style="margin-top: 20px;">Name</label>
            <input id="name" [(ngModel)]="contact.name" name="name" #name="ngModel" required type="text">
            <label class="enterNote" *ngIf="!this.contact_validation.name" for="name">*Please enter a name</label>
            <label style="margin-top: 20px;">Email adress</label>
            <input id="email" [(ngModel)]="contact.email" name="email" #email="ngModel" required type="email">
            <label class="enterNote" *ngIf="!this.contact_validation.email" for="email">*Please enter a email</label>
            <label style="margin-top: 20px;">Message</label>
            <textarea id="message" [(ngModel)]="contact.message" name="message" #message="ngModel" required cols="20" rows="8"></textarea>
            <label class="enterNote" *ngIf="!this.contact_validation.message" for="message">*Please enter a message</label>
        </div>

        <div class="send-button">
            <button type="submit" class="button-23 b-2" role="button">Send</button>
        </div>
    </div>
</form>