.skills {
    height: 650px;
    background-color: #f0f0f0;
}

.skills-header {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    h1 {
        font-size: 30px;
    }
}

.skill-boxes {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.skill-box {
    width: 180px;
    height: 130px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: large;
        padding-top: 20px;
    }
}

.skill-circle {
    display: flex;
    position: absolute;
    margin-bottom: 129px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.mar-top {
    margin-top: 50px;
}

.skill-picture {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-top: 15px;
    margin-left: 15px;
}

// Responsive
@media (max-width: 850px) {
    .skill-box {
        width: 150px;
        height: 100px;
        p {
            font-size: medium;
        }
    }
    .skill-circle {
        width: 60px;
        height: 60px;
        margin-bottom: 100px;
    }
    .skill-picture {
        width: 35px;
        height: 35px;
        margin-top: 12px;
        margin-left: 12px;
    }
}