<div class="skills" id="skills">
    <div class="skills-header">
        <h1>My Skills</h1>
    </div>

    <div class="skill-boxes">
        <div class="skill-box">
            <div class="skill-circle">
                <img src="../assets/img/html-5.png" class="skill-picture">
            </div>
            <p>HTML</p>
        </div>
        <div class="skill-box">
            <div class="skill-circle">
                <img src="../assets/img/css-3.png" class="skill-picture">
            </div>
            <p>CSS</p>
        </div>
        <div class="skill-box">
            <div class="skill-circle">
                <img src="../assets/img/js.png" class="skill-picture">
            </div>
            <p>Javascript</p>
        </div>
        <!-- </div>

    <div class="skill-boxes mar-top"> -->
        <div class="skill-box">
            <div class="skill-circle">
                <img src="../assets/img/angular.png">
            </div>
            <p>Angular</p>
        </div>
        <div class="skill-box">
            <div class="skill-circle">
                <img src="../assets/img/git.png" class="skill-picture">
            </div>
            <p>Git</p>
        </div>
        <div class="skill-box">
            <div class="skill-circle">
                <img src="../assets/img/api.png" class="skill-picture">
            </div>
            <p>Rest API</p>
        </div>
    </div>
</div>